body {
  background-color:rgb(124, 179, 252);
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h4 {
  margin: 40px auto 10px;
}

a {
  text-decoration: none;
  background: #2a8dfe;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 20px;
  text-align: center;
}

.main {
  max-width: 680px;
  width: calc(100% - 10px);
  margin: 0 auto;
  font-size: 17px;
}

.title {
  text-align: center;
}

.name {
  display: flex;
  align-items: center;
}

.result {
  margin : 40px 0px;
}

input[type="text"] {
  border: solid 2px #2a8dfe;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}

.btn {
  text-align: center;
  margin: 25px auto;
}

.btn input:first-of-type{
  margin-right: 50px;
}

.submit {
  background: #2a8dfe;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 20px;
}

.link {
  display:flex;
}

