body {
  background-color:rgb(47, 85, 200);
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h2{
  color: #A9CDF5;
  text-shadow: 2px 3px 4px #000;
}

h4 {
  color: #ffffffd0;
  margin: 40px auto 10px;
}

label, p {
  color: #ffffffd0;
}

a {
  text-decoration: none;
}

.main {
  max-width: 680px;
  width: calc(100% - 10px);
  margin: 0 auto;
  font-size: 17px;
}

.title {
  text-align: center;
}

.btn {
  text-align: center;
  margin: 25px auto;
}

.btn input:first-of-type{
  margin-right: 50px;
}

.submit {
  background: rgb(27, 51, 120);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffffd0;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 20px;
}

.result h4 {
  margin: 40px 0px;
}

